html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  padding-top: 140px;
}

header {
    height: 100px;
    margin: 0px;
    background-color: #003700;
    padding: 20px;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
}

header img {
  height: 100px;
}

#body {
  width: 100%;
  height: 75%;
/*  border-style: solid;*/
/*  overflow-y: scroll;*/
}

div #chat-display .messagerow {
  padding: 5px;
  border-top: dotted grey 1px;
  background-color: #508050;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #003700;
  padding: 5px;
}

label {
  display: block;
  width: 20em;
  margin-top: 5px;
}

#chat-message {
}

.username {
  font-weight: bold;
}

.username:after {
  content: ': ';
}

#chat-username {
  width: 15%;
  border: none;
  background-color: #508050;
}

#chat-message {
  width: 80%;
  border: none;
  background-color: #508050;
}

#chat-username, #chat-message {
  font-size:32px;
}
